
@media(max-width: 1800px) {
    .container-custom {
        width: 100%;
    }
    .banner {
        width: 100%;
    }
    header {
        width: 100%;
        height: auto;
    }
}
@media(max-width: 992px) {
    .iphone {
        width: 100%;
    }
    .ph {
       width: 100%;
        font-size: 3rem;
    }
    .banner {
       padding-left: 5%;
    }
    .bn-low {
        font-size: 1rem;
    }
    .bn-ph {
        font-size: 1rem;
    }
}
@media(max-width: 576px) {
    .main-banner {
        flex-direction: column;
    }
    .banner {
        padding-left: 5%;
        text-align: center;
        padding-top: 3rem;
    }
    .bn-btn {
       
        margin-top: 2rem;
    }
    .ph {
       
        line-height: 3rem;
        font-size: 2rem;
    }
    .bn-low {
        font-size: 0.7rem;
    }
    .bn-ph {
        font-size: .7rem;
    }
}
